services:
  app:
    build:
      context: .
    command: pnpm run serve
    # command: echo "Run server"
    env_file:
      - .env
    ports:
      - ${APP_PORT}:${APP_PORT}
    volumes:
      - .:/usr/src/app
    depends_on:
      - db
      - redis
  db:
    image: postgres:18-alpine
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
  redis:
    image: "redis:8-alpine"
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
